In [1]:
import numpy as np

In [4]:
ages = list(np.random.randint(2,100,29)])
ages

[array([67, 79, 81, 76, 25, 81, 76, 98, 35, 67, 95, 76, 61, 71, 65, 86, 61,
        76, 76, 55, 29, 95, 41, 46, 58,  6, 84,  6, 78], dtype=int32)]

In [7]:
ages = [67, 79, 81, 76, 25, 81, 76, 98, 35, 67, 95, 76, 61, 71, 65, 86, 61,
        76, 76, 55, 29, 95, 41, 46, 58,  6, 84,  6, 78]

In [9]:
ages_m =np.mean(ages)
ages_m

np.float64(63.793103448275865)

In [11]:
### lets take sample 
sample_size = 10
age_choice = np.random.choice(ages,sample_size)
age_choice

array([46, 79, 58, 78, 41, 76, 46, 46, 86, 95])

In [12]:
from scipy.stats import ttest_1samp  ### its one sample test and check whether your sample mean is significantly differe from the '
# population mean

In [18]:
ttest,p_value=ttest_1samp(age_choice,60)  ## here 30 basically am considering that my population means is 30
print(p_value)

0.4367752674907105

In [19]:
if p_value<0.05:
    print(f"There is no significant diffeence between the Ho and H1 or sample and population means becasue p value {p_value} <0.05")
else:
    print(f"There is significant difference between the sample and population mean beacuse p value {p_value}>0.05")

There is significant difference between the sample and population mean beacuse p value 0.4367752674907105>0.05

## Some more example

In [22]:
import math
import scipy.stats as stats

In [25]:
school_age = stats.poisson.rvs(loc=18,mu=36,size=1600)
classA_height = stats.poisson.rvs(loc=18,mu=30,size=68)

In [30]:
school_age.mean()

np.float64(54.13875)

In [26]:
classA_height.mean()

np.float64(47.1764705882353)

In [27]:
mn,p_value = ttest_1samp(classA_height,school_age.mean())

In [28]:
p_value

np.float64(9.381952097684356e-16)

In [29]:
if p_value<0.05:
    print("reject the null hypothesis with value {}".format(p_value))
else:
    print("accept the null hypothesis ")

reject the null hypothesis with value 9.381952097684356e-16

## Two sample t-test with example

In [32]:
a=np.random.seed(12)

In [35]:
classB_ag = stats.poisson.rvs(loc=18,mu=30,size=97)
classB_ag.mean()

np.float64(48.45360824742268)

In [38]:
_,p_value = stats.ttest_ind(a=classA_height,b=classB_ag,equal_var=False)
print(p_value)

0.15469720460835723

In [39]:
if p_value<0.05:
    print("reject the null hypothesis with value {}".format(p_value))
else:
    print("accept the null hypothesis ")

accept the null hypothesis

## Paired t-test with python

In [45]:
weight1=[10,24,24,23,34,32,67,53,34,21,23,42]
# len(weight1)
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.20,size=12)

In [46]:
print(weight1)
print(weight2)

[10, 24, 24, 23, 34, 32, 67, 53, 34, 21, 23, 42]
[10.4512329  15.38788024 28.37945054 23.55810988 30.57945165 41.23034117
 60.93566925 45.6523532  32.05576159 22.19951759 29.58207332 42.089736  ]

In [47]:
weight_df = pd.DataFrame({'weight1':weight1,
                          'weight2':weight2,
                          'changes_in_weight':np.array(weight2)-np.array(weight1)
                          })

In [48]:
weight_df

    weight1    weight2  changes_in_weight
0        10  10.451233           0.451233
1        24  15.387880          -8.612120
2        24  28.379451           4.379451
3        23  23.558110           0.558110
4        34  30.579452          -3.420548
5        32  41.230341           9.230341
6        67  60.935669          -6.064331
7        53  45.652353          -7.347647
8        34  32.055762          -1.944238
9        21  22.199518           1.199518
10       23  29.582073           6.582073
11       42  42.089736           0.089736

In [49]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)
print(p_value)

0.8004745818513507

In [50]:
if p_value<0.05:
    print("We are rejecting the null hypotheiss")
else:
    print("we are accepting the null hypothesis")

we are accepting the null hypothesis